@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-R.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-B.ttf');
	font-weight: bold;
	font-style: normal;
}
